[submodule "backend/third_party/xviz"]
	path = backend/third_party/xviz
	url = https://github.com/wx9698/xviz
[submodule "backend/third_party/carla"]
	path = backend/third_party/carla
	url = https://github.com/carla-simulator/carla.git
