# CLion tmp files
.idea/
/cmake-build-debug/

# VScode tmp files
.vscode/

# Installed Boost, PRC and GTEST lib
/lib/
/include/lib/boost/
/include/lib/rpc/
/include/lib/gtest/
/include/lib/recast/
/include/system

# Build files
/build/
/bin/

# CMake file
/third_party/LibCarla/cmake/CMakeLists.txt.in

# Carla version file
/include/lib/carla/Version.h

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
